
.h1{
  text-align: center;
}
.button{
  display: block important;
  width: 150px;
  text-align: center;
  margin:0 auto;
}

#li{
  padding: 4px 0px 5px 2px;
  border: 2px;
  border-style: solid ;
  margin: 5px;
  border-color: black;

  width: 80%;
  border-radius: 10px;

}
li:hover
{
   background-color: yellowgreen;
cursor: pointer;
}
body {
  background-image: url("back.jpg");
}